<!DOCTYPE html>
<html>
<head>
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="angular/angular.min.js"></script>
  <script src="ng-dialog/js/ngDialog.min.js"></script>
  <script src="app.js"></script>
  <script src="lodash/lodash.min.js"></script>
  <script src="lodash/lodash.min.js"></script>
  <link rel="stylesheet" type="text/css" href="ng-dialog/css/ngDialog.min.css"></link>
  <link rel="stylesheet" type="text/css" href="styles.css"></link>
</head>
<body ng-app="bdgt">
  <div class="header" ng-controller="BDController as ctrl">
    <h2>
      BDGT
    </h2>
    <div ng-repeat="item in ctrl.exampleItems">
      <bdgt-item value="item.value" name="item.name">
    </div>
    <form>
      <input ng-model="name"></input><input ng-model="value"></input>
      <button ng-click="ctrl.addItem(name,value)">Add new transaction</button>
    </form>
</body>
</html>
